@media screen and (min-width: 48rem) {

    .header #logo {
        width: 40%;
        display: flex;
        justify-content: start;
        height: 70px;
    }

    .header #logo p {
        font-size: 1.9rem;
        padding-left: 7px;
        align-self: center;
    }

    .header #logo #smallFont {
        font-size: 1.2rem;
        max-width: 15rem;
    }

    .header #menuBar::before {
        display: none;
    }

    #navi,
    #navi.show {
        max-width: 28rem;
        display: block;
        position: fixed;
        top: 0.4rem;
        right: 1rem;
        z-index: 6;
    }

    #navi ul {
        display: flex;
        max-width: 28rem;
        justify-content: space-between;
        padding: 1rem;
        background-color: #075c64;
    }
    
    #navi ul li a {
        padding: 1rem;
        color: #FEFBF6;
    }

    #navi ul li a:hover {
        font-size: 1.5rem;
        color: #351404;
        background-color: white;
        border-radius: 10px;
        padding: 0.5rem;
    }

    footer {
        display: flex;
        justify-content: space-evenly;
    }

    footer div {
        width: 30%;
    }

    main div {
        padding: 0 2rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 5rem;
        justify-items: center;
        text-align: center;
    }
.randomImages {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

form {
    width: 90%;
    max-width: 400px;
}

}