* {
    padding: 0;
    margin: 0;
}

/*-------------------Directory Page Header--------------------*/
.header {
    background-color: #8CB9BD;
    padding: 0.5rem 1rem;
}

.header #logo {
    display: grid;
    grid-template-columns: auto 1fr;
}

.header #logo img {
    grid-row: 1 / 3;
    align-self: center;
}

.header #logo p {
    font-size: 1.7rem;
    font-weight: 700;
    max-width: 10rem;
    color: #351404;
}

.header #logo #smallFont {
    font-size: 1rem;
}

.header #menuBar::before {
    content: "≡";
    font-size: 3rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: #FEFBF6;
}

.header #menuBar.show::before {
    content: "✖";
}

/*-------------------Directory Page Navigation--------------------*/

#navi {
    display: none;
}

#navi.show {
    display: block;
}

#navi ul {
    padding: 1rem 4rem;
    font-size: 1.4rem;
    background-color: #B67352;
}

#navi ul li{
    list-style-type: none;
    padding: 5px 0;
}
#navi ul li a{
    color: #FEFBF6;
    text-decoration: none;
}

/*-------------------Directory Page Main Grid Display--------------------*/

main #businessList {
    padding: 2rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    column-gap: 2rem;
    row-gap: 2rem;
}

main #businessList div {
    padding: 10px 0;
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    box-shadow: 0 0 8px 1px gray;
}

main #businessList div img {
    width: 90%;
    padding: 1rem 0; 
}

main #businessList div p {
    font-size: 0.8rem;
    width: 90%;
    padding: 2px 0;
    text-align: center;
}

main #businessList div a {
    font-size: 0.9rem;
}
