
@media screen and (min-width: 50rem){

    header {
        display: flex;
        justify-content: center;
        padding: 20px 0;
     }
     
     h1 {
       margin: 0 3rem;
     }

    body {
        width: 80%;
        max-width: 60rem;
        margin: 1rem auto 0;
    }

    header #menuBar {
       display: none;
    }
    #navi {
        display: block;
    }
    #navi ul{
        display: flex;
        background-color: black;
        justify-content: space-evenly;
        padding: 0.3rem 0;

    }

    #navi ul li a {
        color: white;
        text-align: center;
        padding: 0;
    }

    #navi ul li a:hover {
        color: gold;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        row-gap: 1rem;
    }
    body h2 {
        margin: 0 0 1rem;
    }
    .section3 {
        grid-column: 1 / 3;
    }

    .section1, .section2, .section3 {
        box-shadow:  0 0 8px 1px rgb(94, 90, 90);
    }

    .section3 .sectionNav {
        display: flex;
        justify-content: center;
    }
    
    .section3 .sectionNav li {
        width: 20%;
        min-width: 100px;
        margin: 0 5px;
    }


    #courseList {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        padding: 1rem 0;
    }

    .section3 div p.credits {
        grid-column: 1 / 4;
    }

    footer p {
        display: inline;
    }

    #lastModified {
        display: block;
    }
}